<ion-header [translucent]="true">
  <ion-toolbar style="max-width: none">
    <ion-title>
      <ion-img src="assets/images/logo.png" alt="Pedra Moura"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-container">
    <ion-button fill="clear">
      <span (click)="fechar()" class="fechar-botao">X</span>
    </ion-button>
    <ion-input type="email" [(ngModel)]="email" placeholder="Email"></ion-input>
    <ion-input
      type="password"
      [(ngModel)]="senha"
      placeholder="Senha"
    ></ion-input>
    <ion-button (click)="entrar()">Entrar</ion-button>

    <div *ngIf="erro" class="erro">{{ erro }}</div>
  </div>
</ion-content>
