.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

ion-input,
ion-button {
  width: 100%;
  max-width: 300px;
  margin: 10px 0;
}
