<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-container">
    <ion-img
      src="assets/images/app-delivery.png"
      alt="Pedra Moura Delivery"
      class="login-logo"
    ></ion-img>

    <p>Bem-vindo!</p>
    <p>Para acessar, informe e-mail e senha:</p>
    <ion-input type="email" [(ngModel)]="email" placeholder="Email"></ion-input>
    <ion-input
      type="password"
      [(ngModel)]="senha"
      placeholder="Senha"
    ></ion-input>
    <ion-button (click)="entrar()">Entrar</ion-button>

  </div>
</ion-content>
