<ion-content>

  <ion-list>
    <ion-item *ngFor="let pedido of pedidos" (click)="verPedido(pedido.id)">
      <ion-label>
        <h2 [ngClass]="{'texto-riscado': pedido.statusEntrega}">
          <strong>Pedido {{ pedido.id }}</strong>
        </h2>
        <p><strong>Nome do cliente: </strong>{{ pedido.nomeCliente }}</p>
        <p><strong>Endereço: </strong>{{ pedido.endereco }}</p>
        <p><strong>Observações: </strong>{{ pedido.observacoes }}</p>
        <p><strong>Telefone: </strong>{{ pedido.telefone }}</p>
        <p><strong>Itens do pedido:</strong></p>
        <ul>
          <li *ngFor="let item of pedido.itensPedido">{{ item }}</li>
        </ul>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <div class="center-horizontal">
    <ion-button (click)="verMapa()">
      <ion-icon slot="icon-only" name="map-sharp"></ion-icon>
    </ion-button>
  </div>
</ion-footer>
