<ion-header [translucent]="true">
  <ion-toolbar style="max-width: none">
    <ion-title>
      <ion-img src="assets/images/logo.png" alt="Pedra Moura"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="entregas" href="/tabs/entregas">
      <ion-icon aria-hidden="true" name="list"></ion-icon>
      <ion-label>Entregas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="historico" href="/tabs/historico">
      <ion-icon aria-hidden="true" name="book"></ion-icon>
      <ion-label>Histórico</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
