ion-header.ion-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header-img {
  max-width: 90%;
  height: auto;
  max-height: 150px;
  margin-bottom: 10px;
  margin-top: 10px;
}
